---
- name: Clean Kubernetes Docker Image
  shell: "{{ kubernetes_ctl_path }}docker rmi -f $(docker images -f 'reference={{ item }}*' | sed '1d' | awk '{print $3}')"
  with_items:
    - "k8s.gcr.io/kube-apiserver-amd64"
    - "k8s.gcr.io/kube-controller-manager"
    - "k8s.gcr.io/kube-scheduler"
    - "k8s.gcr.io/kube-proxy"
    - "k8s.gcr.io/etcd"
    - "k8s.gcr.io/pause"
    - "slzcc/keepalived"
    - "haproxy"
    - "calico/cni"
    - "calico/kube-controllers"
    - "calico/node"
    - "calico/pod2daemon-flexvol"
    - "coredns/coredns"
  ignore_errors: true