[Unit]
Description=CRI Docker Socket for the API
PartOf=cri-docker.service

[Socket]
ListenStream={{ cri_docker_socket_path }}
SocketMode=0660
SocketUser=root
SocketGroup=docker

[Install]
WantedBy=sockets.target