---
- include_vars: "{{ item }}"
  with_items:
    - "roles/crane/defaults/main.yml"

- name: Create Temporary Directory
  file:
    path: "{{ temporary_dirs }}/.ssh"
    mode: 0755
    owner: "{{ ssh_connect_user }}"
    state: directory
    
- name: Copy SSH Private Key
  copy:
    src: "{{ source_ssh_private_key_file }}"
    dest: "{{ target_ssh_private_key_file }}"
    owner: "{{ ssh_connect_user }}"
    mode: 0400

- name: Check SSH Known
  include: "roles/system-initialize/includes/ssh/main.yml"
