---
- name: Check Docker-ce Version
  shell: "docker -v | awk '{print $3}' | awk -F',' '{print $1}'"
  register: result
  ignore_errors: true
  
- name: Apt Update Source
  shell: apt-get update
  when: result.stderr and ansible_lsb.id == 'Ubuntu'

- name: Apt Install Dependence
  shell: apt-get install -y apt-transport-https curl ca-certificates software-properties-common
  when: result.stderr and ansible_lsb.id == 'Ubuntu'

- name: Yum Install Dependence
  shell: yum install -y wget curl
  when: result.stderr and ansible_lsb.id == 'Centos'

- name: Apt Install Docker-ce
  shell: curl -fsSL https://get.docker.com | bash
  when: result.stderr

- service:
    name: docker
    state: stopped

- shell: 'mkdir /etc/docker'
  ignore_errors: true

- name: Copy Dockerd Daemon.js
  copy: 
    src: "daemon.json"
    dest: "/etc/docker/daemon.json"
    mode: 0644
    owner: "{{ ssh_connect_user }}"
  
- name: Docker-ce Powered UP And Startd
  service: 
    name: docker
    enabled: yes

- service:
    name: docker
    state: restarted
  
- debug:
    var: result['stdout_lines']
    verbosity: 0  