{% if cri_k8s_default == 'crio' %}
runtime-endpoint: unix://{{ crio_socket_path }}
image-endpoint: unix://{{ crio_socket_path }}
{%- elif cri_k8s_default == "containerd" -%}
runtime-endpoint: unix://{{ containerd_socket_path }}
image-endpoint: unix://{{ containerd_socket_path }}
#timeout: 10
#debug: false
{%- else -%}
runtime-endpoint: unix:///var/run/dockershim.sock
image-endpoint: unix:///var/run/dockershim.sock
#timeout: 10
#debug: true
{% endif %}
# Docs https://github.com/kubernetes-sigs/cri-tools/blob/master/docs/crictl.md