---
- name: Clean Cilium directory.
  shell: "mv /var/run/cilium {{ temporary_dirs }}remove-cluster/"
  ignore_errors: true

- name: Clean Cilium All.
  shell: "{{ kubernetes_ctl_path }}cilium cleanup -f"
  ignore_errors: true

- name: Clean Cilium Binary
  file:
    path: "{{ kubernetes_ctl_path }}cilium"
    state: absent
  ignore_errors: true
