---

- name: Deploy CRI to Containerd
  include: "roles/cri-install/includes/containerd/main.yml"
  when: 
    - ("containerd" in cri_driver)
    - cri_drive_install_type != "none"

- name: Deploy Containerd CRI to runC
  include: "roles/cri-install/includes/runc/main.yml"
  when: (cri_driver | lenght ) == 1 and ("containerd" in cri_driver)

- name: Deploy CRI to Docker
  include: "roles/cri-install/includes/docker/main.yml"
  when: 
    - ("docker" in cri_driver)
    - cri_drive_install_type != "none"
  
- name: Deploy CRI to CRIO
  include: "roles/cri-install/includes/cri-o/main.yml"
  when: 
    - ("crio" in cri_driver)
    - cri_drive_install_type != "none"

- name: Copy Crictl Config
  template: 
    src: "roles/cri-install/templates/{{ item }}"
    mode: 0644
    owner: "{{ ssh_connect_user }}"
    dest: "/etc/crictl.yaml"
  with_items:
    - "crictl.yaml"
  when:
    - cri_drive_install_type != "none"