---

- name: Clean Kubernetes Containerd Service and rm >
  shell: "for i in $({{ kubernetes_ctl_path }}ctr -n k8s.io tasks ls -q); do {{ kubernetes_ctl_path }}ctr -n k8s.io tasks kill --signal 9 $i; done"
  ignore_errors: true

- name: Clean Kubernetes Containerd Service and rm >>>
  shell: "{{ kubernetes_ctl_path }}ctr -n k8s.io c rm $({{ kubernetes_ctl_path }}ctr -n k8s.io c ls -q)"
  ignore_errors: true

- name: Clean Containerd Socket to Servers
  shell: >
    ps aux | grep '{{ containerd_socket_path }}' | grep -v grep | grep 'k8s.io' | awk '{print $2}' | xargs -i kill -9 {}
  ignore_errors: true