---
apiVersion: v1
kind: Service
metadata:
  name: jenkins
spec:
  ports:
   - name: http
     port: 8080
     targetPort: 8080
     protocol: TCP
   - name: jnip
     port: 50000
     targetPort: 50000
     protocol: TCP
  selector:
    app: jenkins
