apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring
data:
  grafana.ini: |
    [server]
    root_url = http://{{ monitoring_ingress_grafana_domain }}
    [smtp]
    enabled = {{ prometheus_operator_grafana_smtp_enable }}
    host = {{ prometheus_operator_grafana_smtp_server }}
    user = {{ prometheus_operator_grafana_smtp_user }}
    password = {{ prometheus_operator_grafana_smtp_password }}
    skip_verify = true
    from_address = {{ prometheus_operator_grafana_smtp_from_address }}
    from_name = Grafana
    [alerting]
    enable = true
    execute_alerts = true