kind: Pod
apiVersion: v1
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  labels:
    component: haproxy
    tier: control-plane
  name: haproxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: haproxy
    image: haproxy:{{ haproxy_version }}
    resources:
      requests:
        cpu: 100m
    env:
    - name: TZ
      value: "{{ time_location }}"
    volumeMounts:
    - name: cfg-volume
      readOnly: true
      mountPath: "/usr/local{{ haproxy_etc_dirs }}haproxy.cfg"
    - mountPath: /usr/share/zoneinfo
      name: usr-local-timezone
      readOnly: true
  volumes:
  - hostPath:
      path: /usr/share/zoneinfo
      type: DirectoryOrCreate
    name: usr-local-timezone
  - name: cfg-volume
    hostPath:
      path: "{{ haproxy_etc_dirs }}haproxy.cfg"
