{% macro initial_cluster() -%}
{% for host in groups['etcd'] -%}
  {{ etcd_peer_url_scheme }}://
  {%- if etcd_interface != "" -%}
    {{ hostvars[host]['ansible_' + etcd_interface].ipv4.address }}
  {%- else -%}
    {{ hostvars[host].ansible_default_ipv4.address }}
  {%- endif -%}
:{{ etcd_client_port }}
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  labels:
    component: kube-apiserver
    tier: control-plane
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  priorityClassName: system-cluster-critical
  containers:
  - command:
    - kube-apiserver
    - --advertise-address={{ k8s_load_balance_ip }}
    - --allow-privileged=true
    - --authorization-mode=Node,RBAC
    - --client-ca-file={{ kubernetes_pki_dirs }}ca.pem
    - --enable-admission-plugins=NodeRestriction
    - --enable-bootstrap-token-auth=true
    - --etcd-cafile={{ etcd_ssl_dirs }}etcd-ca.pem
    - --etcd-certfile={{ etcd_ssl_dirs }}etcd.pem
    - --etcd-keyfile={{ etcd_ssl_dirs }}etcd-key.pem
    - --etcd-servers={{ initial_cluster() }}
    - --insecure-port=0
    - --kubelet-client-certificate={{ kubernetes_pki_dirs }}apiserver.pem
    - --kubelet-client-key={{ kubernetes_pki_dirs }}apiserver-key.pem
    - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
    - --proxy-client-cert-file={{ kubernetes_pki_dirs }}front-proxy-client.pem
    - --proxy-client-key-file={{ kubernetes_pki_dirs }}front-proxy-client-key.pem
    - --requestheader-allowed-names=front-proxy-client
    - --requestheader-client-ca-file={{ kubernetes_pki_dirs }}front-proxy-ca.pem
    - --requestheader-extra-headers-prefix=X-Remote-Extra-
    - --requestheader-group-headers=X-Remote-Group
    - --requestheader-username-headers=X-Remote-User
    - --secure-port={{ k8s_master_apiservice_bind_port }}
    - --service-account-key-file={{ kubernetes_pki_dirs }}sa.pub
    - --service-cluster-ip-range={{ k8s_cluster_ip_range }}
    - --tls-cert-file={{ kubernetes_pki_dirs }}apiserver.pem
    - --tls-private-key-file={{ kubernetes_pki_dirs }}apiserver-key.pem
    - --service-node-port-range={{ k8s_apiserver_node_port_range }}
    - --client-ca-file={{ kubernetes_pki_dirs }}ca.pem
    - --service-account-key-file={{ kubernetes_pki_dirs }}sa.pub
    image: gcr.io/google_containers/kube-apiserver-amd64:{{ k8s_version }}
    imagePullPolicy: IfNotPresent
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 6443
        scheme: HTTPS
      initialDelaySeconds: 15
      timeoutSeconds: 15
    name: kube-apiserver
    resources:
      requests:
        cpu: 250m
    volumeMounts:
    - mountPath: /etc/etcd/ssl
      name: etcd-certs
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ca-certs
      readOnly: true
    - mountPath: /etc/ca-certificates
      name: etc-ca-certificates
      readOnly: true
    - mountPath: {{ kubernetes_etc_dirs }}pki
      name: k8s-certs
      readOnly: true
    - mountPath: /usr/local/share/ca-certificates
      name: usr-local-share-ca-certificates
      readOnly: true
    - mountPath: /usr/share/ca-certificates
      name: usr-share-ca-certificates
      readOnly: true
  volumes:
  - hostPath:
      path: /etc/etcd/ssl
      type: DirectoryOrCreate
    name: etcd-certs
  - hostPath:
      path: /etc/ssl/certs
      type: DirectoryOrCreate
    name: ca-certs
  - hostPath:
      path: /etc/ca-certificates
      type: DirectoryOrCreate
    name: etc-ca-certificates
  - hostPath:
      path: {{ kubernetes_etc_dirs }}pki
      type: DirectoryOrCreate
    name: k8s-certs
  - hostPath:
      path: /usr/local/share/ca-certificates
      type: DirectoryOrCreate
    name: usr-local-share-ca-certificates
  - hostPath:
      path: /usr/share/ca-certificates
      type: DirectoryOrCreate
    name: usr-share-ca-certificates
status: {}