apiVersion: apps/v1
kind: Ingress
metadata:
  name: grafana
  namespace: istio-system
  labels:
    app: grafana
  annotations:
spec:
  rules:
  - host: {{ istio_ingress_grafana_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: grafana
          servicePort: 3000
---
apiVersion: apps/v1
kind: Ingress
metadata:
  name: prometheus
  namespace: istio-system
spec:
  rules:
  - host: {{ istio_ingress_prometheus_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: prometheus
          servicePort: 9090
---
apiVersion: apps/v1
kind: Ingress
metadata:
  name: tracing
  namespace: istio-system
spec:
  rules:
  - host: {{ istio_ingress_tracing_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: tracing
          servicePort: 80
---
apiVersion: apps/v1
kind: Ingress
metadata:
  name: kiali
  namespace: istio-system
spec:
  rules:
  - host: {{ istio_ingress_kiali_domain }}
    http:
      paths:
      - path: /kiali
        backend:
          serviceName: kiali
          servicePort: 20001