apiVersion: v1
kind: Secret
metadata:
  name: kiali
  namespace: istio-system
  labels:
    app: kiali
type: Opaque
data:
  username: "{{ istio_kiali_username }}"
  passphrase: "{{ istio_kiali_password }}"