apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: monitoring
  namespace: monitoring
spec:
  rules:
  - host: {{ monitoring_ingress_prometheus_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: prometheus-k8s
          servicePort: web
  - host: {{ monitoring_ingress_grafana_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: grafana
          servicePort: http
  - host: {{ monitoring_ingress_alertmanager_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: alertmanager-main
          servicePort: web