---
# Kubernetes
## ********************************************************************************************************************************
- name: Configure Kubernetes to execute files in download
  include_tasks: includes/download_file.yml
  when: not is_using_local_files_deploy and not is_using_image_deploy

- name: Configure Kubernetes to execute files in localhost
  include_tasks: includes/local_file.yml
  when: is_using_local_files_deploy

- name: Configure Kubernetes to execute files in image deploy
  include_tasks: includes/image_deploy.yml
  when: is_using_image_deploy and not is_using_local_files_deploy
