[Unit]
Description=kube-controller-manager
After=network.target
After=kube-apiserver.service
 
[Service]
Type=notify
ExecStart={{ kubernetes_ctl_path }}kube-controller-manager \
--authentication-kubeconfig={{ kubernetes_etc_dirs }}controller-manager.conf \
--authorization-kubeconfig={{ kubernetes_etc_dirs }}controller-manager.conf \
--bind-address=0.0.0.0 \
--cluster-name=kubernetes \
--client-ca-file={{ kubernetes_pki_dirs }}ca.pem \
--cluster-signing-cert-file={{ kubernetes_pki_dirs }}ca.pem \
--cluster-signing-key-file={{ kubernetes_pki_dirs }}ca-key.pem \
--controllers=*,bootstrapsigner,tokencleaner \
--kubeconfig={{ kubernetes_etc_dirs }}controller-manager.conf \
--leader-elect=true \
--requestheader-client-ca-file={{ kubernetes_pki_dirs }}front-proxy-ca.pem \
--root-ca-file={{ kubernetes_pki_dirs }}ca.pem \
--service-account-private-key-file={{ kubernetes_pki_dirs }}sa.key \
--use-service-account-credentials=true
Restart=always
StartLimitInterval=0
RestartSec=10
Environment=
LimitNOFILE=65536
 
[Install]
WantedBy=multi-user.target