[Unit]
Description=kube-controller-manager
After=network.target
After=kube-apiserver.service
 
[Service]
EnvironmentFile=-/etc/kubernetes/controller-manager
ExecStart=/usr/local/bin/kube-controller-manager \
        --logtostderr=true \
        --v=0 \
        --master=${KUBE_APISERVER} \
        --kubeconfig=/etc/kubernetes/controller-manager.conf \
        --cluster-name=kubernetes \
        --cluster-signing-cert-file=/etc/kubernetes/pki/ca.pem \
        --cluster-signing-key-file=/etc/kubernetes/pki/ca-key.pem \
        --service-account-private-key-file=/etc/kubernetes/pki/ca-key.pem \
        --root-ca-file=/etc/kubernetes/pki/ca.pem \
        --insecure-experimental-approve-all-kubelet-csrs-for-group=system:bootstrappers \
        --use-service-account-credentials=true \
        --service-cluster-ip-range=10.96.0.0/12 \
        --cluster-cidr=10.244.0.0/16 \
        --allocate-node-cidrs=true \
        --leader-elect=true \
        --controllers=*,bootstrapsigner,tokencleaner
Restart=on-failure
Type=simple
LimitNOFILE=65536
 
[Install]
WantedBy=multi-user.target