
name: CI

on:
  push:
    branches: [ develop , staging ]

jobs:
  
  buildKubernetesImages:
    
    if: github.ref == 'refs/heads/develop'

    runs-on: ubuntu-18.04

    services:
      simple:
        image: slzcc/sshd:latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Docker Logins
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }}
        ALIYUN_TOKEN: ${{ secrets.ALIYUNREGISTRYPASS }}
        ALIYUN_USERS: ${{ secrets.ALIYUNREGISTRYUSER }}
        DOCKER_TOKEN: ${{ secrets.DOCKERHUBTOKEN }}
      run: |
        echo ${ALIYUN_TOKEN} | docker login -u ${ALIYUN_USERS} registry.cn-beijing.aliyuncs.com --password-stdin
        echo ${ALIYUN_TOKEN} | docker login -u ${ALIYUN_USERS} registry.cn-hangzhou.aliyuncs.com --password-stdin
        echo ${GITHUB_TOKEN} | docker login docker.pkg.github.com -u slzcc --password-stdin
        echo ${DOCKER_TOKEN} | docker login -u slzcc --password-stdin
    
    - name: Create Images and Push
      run: |
        sudo usermod -aG docker runner
        cd script && \
           bash -x ./PushKubernetesNodeBinaries.sh

    - name: Deploy Crane Image
      run: |
        sudo usermod -aG docker runner
        make build
        make push
        make push_other

  deployCrane:

    if: github.ref == 'refs/heads/staging'

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    
    - name: Initialize Crane Config
      run: |
        ls -l
        export WORKDIR=~/work/crane/crane
        sudo chmod 777 /etc/ssh/sshd_config
        sudo sed -i 's/#PermitRootLogin\ .*/PermitRootLogin\ yes/g' /etc/ssh/sshd_config
        sudo systemctl restart sshd

        ssh-keygen -t rsa -N "" -f ~/.ssh/kube-simple
        sudo rm -rf /root/.ssh
        sudo mkdir /root/.ssh

        cat ~/.ssh/kube-simple.pub >> ~/.ssh/authorized_keys
        sudo cp -a ~/.ssh/authorized_keys /root/.ssh/authorized_keys
        chmod 600 -R ~/.ssh/authorized_keys
        sudo chown root:root -R /root/.ssh

        INSTANCE_IP=`ip a | grep 'scope global eth0' | grep -v 127.0.0.1 | grep -v inet6 | awk '{print $2}' | awk -F/ '{print $1}'`
        INSTANCE_NET_NAME=`ifconfig | egrep ^eth0 | awk -F: '{print $1}'`
        
        sed -i "s/os_network_device_name:\ .*/os_network_device_name:\ ${INSTANCE_NET_NAME}/g" ${WORKDIR}/crane/group_vars/all.yml
        sed -i "s/k8s_load_balance_ip:\ .*/k8s_load_balance_ip:\ ${INSTANCE_IP}/g" ${WORKDIR}/crane/group_vars/all.yml
        sed -i "s/is_docker_daemon_config:\ .*/is_docker_daemon_config:\ false/g" ${WORKDIR}/crane/group_vars/all.yml
        sed -i "s/172.20.0.2/${INSTANCE_IP}/g" ${WORKDIR}/kube-simple/nodes
        sed -i 's/false/true/g' ${WORKDIR}/crane/roles/add-ons/defaults/main.yml
        sed -i 's/is_deploy_istio:\ .*/is_deploy_istio: false/g' ${WORKDIR}/crane/roles/add-ons/defaults/main.yml
        sed -i "s/docker_install_type:\ \"http_binary\"/docker_install_type:\ \"local_binary\"/g" ${WORKDIR}/crane/group_vars/all.yml

        sudo cp -a crane/ansible.cfg /etc/ansible/ansible.cfg
        sudo usermod -aG docker runner
        make local_load_dockerd

        # Deploy crane
        cd ${WORKDIR}/crane/ && ansible-playbook -i ../kube-simple/nodes main.yml -vv
        sleep 120
        sudo kubectl get node --kubeconfig=/etc/kubernetes/admin.conf
        sudo kubectl get pods --all-namespaces -o wide --kubeconfig=/etc/kubernetes/admin.conf

        # Create Public Network
        sudo docker network create --subnet 172.20.0.0/24 kube_simple

        # Start Add Master Kube-Simple
        sudo docker run -d --name add-master \
                           --net kube_simple \
                           --privileged \
                           --cap-add=ALL \
                           --memory 4G \
                           --memory-swap 0 \
                           slzcc/ubuntu:18.04-linuxkit-4.9.184-docker-19.03.12

        sudo docker cp ~/.ssh/authorized_keys add-master:/root/.ssh/authorized_keys
        sudo docker exec -i add-master chown root:root /root/.ssh/authorized_keys
        sudo docker exec -i add-master chmod 600 /root/.ssh/authorized_keys
        export CONTAINER_IP=`docker inspect add-master --format "{{ .NetworkSettings.Networks.kube_simple.IPAddress }}"`
        echo ${CONTAINER_IP} ${WORKDIR}
        sed -i "/k8s-cluster-add-master/a ${CONTAINER_IP}" ${WORKDIR}/kube-simple/nodes
        
        # Add Master
        cd ${WORKDIR}/crane/ && ansible-playbook -i ../kube-simple/nodes add_master.yml -vv
        sudo kubectl get node --kubeconfig=/etc/kubernetes/admin.conf

        # Start Add Node Kube-Simple
        sudo docker run -d --name add-node \
                           --net kube_simple \
                           --privileged \
                           --cap-add=ALL \
                           --memory 4G \
                           --memory-swap 0 \
                           slzcc/ubuntu:18.04-linuxkit-4.9.184-docker-19.03.12

        sudo docker cp ~/.ssh/authorized_keys add-node:/root/.ssh/authorized_keys
        sudo docker exec -i add-node chown root:root /root/.ssh/authorized_keys
        sudo docker exec -i add-node chmod 600 /root/.ssh/authorized_keys
        export CONTAINER_IP=`docker inspect add-node --format "{{ .NetworkSettings.Networks.kube_simple.IPAddress }}"`
        sed -i "/k8s-cluster-add-node/a ${CONTAINER_IP}" ${WORKDIR}/kube-simple/nodes
        
        # Add Node
        cd ${WORKDIR}/crane/ && ansible-playbook -i ../kube-simple/nodes add_node.yml -vv
        sudo kubectl get node --kubeconfig=/etc/kubernetes/admin.conf

        # Start Add Etcd
        sed -i "/etcd-cluster-add-node/a ${CONTAINER_IP}" ${WORKDIR}/kube-simple/nodes
        
        # Add Etcd
        cd ${WORKDIR}/crane/ && ansible-playbook -i ../kube-simple/nodes add_etcd.yml -vv
        sudo kubectl get node --kubeconfig=/etc/kubernetes/admin.conf

        # Kubernetes Certificate Rotation
        cd ${WORKDIR}/crane/ && ansible-playbook -i ../kube-simple/nodes k8s_certificate_rotation.yml -vv

        # Etcd Certificate Rotation
        cd ${WORKDIR}/crane/ && ansible-playbook -i ../kube-simple/nodes etcd_certificate_rotation.yml -vv

        # clean crane
        cd ${WORKDIR}/crane/ && ansible-playbook -i ../kube-simple/nodes remove_cluster.yml -vv
      shell: bash